.intro {
  text-align: center;
}

.sidebar {
  float: right;
  background-color: yellow;
  color: red;
  width: 40%;
}

.right {
  background-color: teal;
  float: left;
  color: blue;
  width: 50%;
}

.left {
  float: right;
  width: 30%;
  background-color: pink;
}

.sing {
  height: 426px;
}

.column01 {
  width: 33%;
  float: left;
  text-align: center;
  background-color: orange;
}

.column02 {
  width: 33%;
  float: left;
  text-align: center;
  background-color: lightblue;
}

.column03 {
  width: 33%;
  float: left;
  text-align: center;
  background-color: lime;
}

.latest {
  width: 200px;
  padding: 5px;
}
